.container-fluid
{
max-width: 1600px;
}

.container-wapper
 {
 width:100%;
 background:#c0c0c0;
 }

 #menu
{
height:15%;
width:100%;
float:left;
border-bottom: 1px solid #f15556;
position:fixed;
top:0;
z-index: 5000;
background: #f9f9f9;
}

#logo
{
float:left;
width:10%;
}

#logotext
{
float:left;
width:20%;
height:100%;
font-family:Century Gothic;
font-size: 35px;
display:flex;              /* establish flex container */
flex-direction:column;     /* stack flex items vertically */
justify-content:center;    /* center items vertically */
}

#menulist
{
float:left;
width:14%;
height:100%;
display:flex;              /* establish flex container */
flex-direction:column;     /* stack flex items vertically */
justify-content:center;
text-align:center;
font-size: 20px;
font-family:Century Gothic;
}

#menulist > a:hover 
{
color:white ;
background-color:#e35354;
height:100%;
display:flex;              /* establish flex container */
flex-direction:column;     /* stack flex items vertically */
justify-content:center;
}
#menulist > a:link,a:visited
{
color: black;
text-decoration: none !important;
}

#main
{
width:22.5%;
height:400px;
margin-left:70%;
margin-top:13%;
background:rgba(249, 249, 249, 0.8);

}
.in
{
   float:left ;
   margin-top:100px ;
   margin-left:33px ;
   height: 29px ;
   overflow: hidden ;
   width: 240px ;
   
   }
.in input {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; 
   width: 268px;
}

.in.slate {
   background: url(arrow.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.in.slate input {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
   border-color:#e35354;
}
   
   

   
.out
{  
   float:left ;
   margin-top:20px ;
   margin-left:33px ;
   height: 29px ;
   overflow: hidden ;
   width: 240px ;
}

.out input {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; 
   width: 268px;
}

.out.slate {
   background: url(arrow.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.out.slate input {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
   border-color:#e35354;
}



.styled-district {
   float:left ;
   margin-top:20px ;
   margin-left:33px ;
   height: 29px ;
   overflow: hidden ;
   width: 240px ;
}

.styled-district select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; 
   width: 268px;
}

.styled-district.slate {
   background: url(arrow.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-district.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
   border-color:#e35354;
}

.styled-city {
   float:left;
   margin-top:20px;
   margin-left:33px;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-city select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; 
   width: 268px;
}

.styled-city.slate {
   background: url(arrow.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-city.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
   border-color:#e35354;
}

body
{
background-image:url(hotel4.jpg)!important;
background-size: cover;
}
#submit
{
float:left;
margin-top:20px!important;
margin-left:100px!important;
}
